*{
    margin: 0;
    padding: 0;

}
body{
    background-color: #46989b;
    background-position: cover;
    text-align: center;
}
.container{
    display: flex;
}
.box{
    background-color: rgb(58, 13, 218);
    width: 1000px;
    height: 500px;
    text-align: center;
}
.box2{
    background-color: rgb(207, 15, 233);
    width: 1000px;
    height: 500px;
    text-align: center;
}
.Tiger{
    background-image: url(T.jfif);
    background-position: cover;
    height: 150px;
    color: #00ff00;
}
.header img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: center;
    top: 50px;
    left: 15px;
    box-shadow: 3px 3px 10px rgba(0,0,0,.5);
    cursor: pointer;
    user-select: none;
    user-select: none;
    filter: grayscale(0%)
}
.header img:hover{
    filter: grayscale(0%);
    
    box-shadow: 3px 3px 20px rgba(0,0,0,.5);
}
.header2 img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: center;
    top: 50px;
    left: 15px;
    box-shadow: 3px 3px 10px rgba(0,0,0,.5);
    cursor: pointer;
    transition: .5s;
    user-select: none;
    filter: grayscale(0%);
}
.header2 img:hover{
    filter: grayscale(0%);
    
    box-shadow: 3px 3px 20px rgba(0,0,0,.5);
}
